body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#calContainer{
    border: 5px solid black;
    background-color: #89b894;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 50vw;
    height: 30vw;
}

#display{
    border: 2px solid black;
    width: 45vw;
    height: 5vw;
    background-color: black;
    color: greenyellow;
    align-self: center;
    text-align: center;
    font-size: 50px;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

#numContainer{
    width: 30vw;
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
}

#operatorsContainer{
    width: 20vw;
    height: 20vw;
}

button{
    border: 1px solid black;
}

.operatorBtn{
    width: 20vw;
    height: 2.86vw;
    font-size: large;
    font-weight: bold;
    background-color: #8ab237;
}

.numBtn{
    width: 10vw;
    height: 5vw;
    font-size: large;
    font-weight: bold;
    background-color: #1a8c44;
}

#btn0{
    width: 30vw;
}

#clearBtn,
#equalsBtn{
    background-color: #c7cc27;
}

#dotBtn{
    background-color: #f4e75b;
}